.question-box{
    border: 1px solid rgb(114, 236, 250);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    transition: all 0.3s ease;
    text-align: center;

}

.question-box p {
    height: 0;
    overflow: hidden;
    transition: height 300ms ease;
    margin: 0;
  
}

.question-box:hover{
    cursor: pointer;
    background-color: rgb(114, 243, 250);
    color: rgb(101, 107, 112);
}


.simple-box{
    max-width: 600px;
    text-align: center;
    border: 1px solid aqua;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    margin: auto;
}