{% extends 'base.html' %}

{% block header %}
    <title>شخصیت جدید</title>
{% endblock %}

{% block body %}
    <h2> افزودن شخصیت جدید</h2>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="text" name="name" placeholder="نام شخصیت" required><br>
            <textarea name="desc" placeholder="توضیحات"></textarea><br>
            <label>عکس کوچک(thumbnail):</label>
            <input type="file" name = "thumb" accept="image/*" required><br>
            <label>عکس بزرگ (full) :</label>
            <input type="file" name="full" accept="image/*" required><br>
            <button type="submit">ثبت</button>
        </form>
{% endblock %}