{% extends 'base.html' %}

{% block header %}
    <title>{{ story.title }}</title>
    <meta charset="utf-8" dir="rtl" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static' , filename = 'assets/css/main.css' ) }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static' , filename = 'assets/css/noscript.css' ) }}" /></noscript>

{% endblock %}

{% block body %}
<section class="simple-box">
    <h2>{{ story.title }}</h2>
    <h3>{{ part.title }}</h3>
    <div style="white-space: pre-line; text-align: justify;">
        {{ part.content }}
    </div>
<div style="margin-top: 20px;">
    {% if prev_part %}
        <a href="{{ url_for('general.story_part' , slug = story.slug , part_id = prev_part.id) }}" class="button">قسمت قبلی</a>
    {% endif %}

    {% if next_part %}
    <a href="{{ url_for('general.story_part' , slug = story.slug , part_id = next_part.id) }}" class="button">قسمت بعدی</a>
    {% endif %}
    
</div>
</section>
<hr>
<h4>رفتن به قسمت خاص</h4>
<form method="get" action="">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <select onchange="location = this.value;">
        {% for p in all_parts %}
        <option value="{{ url_for('general.story_part' , slug = story.slug , part_id = p.id) }}" {% if p.id == part.id %}selected{% endif %}>
            {{ p.title }}
        </option>
        {% endfor %}
    </select>
</form>

<script src="{{ url_for('static' , filename = 'assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static' , filename = 'assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static' , filename = 'assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static' , filename = 'assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static' , filename = 'assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static' , filename = 'assets/js/util.js') }}"></script>
			<script src="{{ url_for('static' , filename = 'assets/js/main.js') }}"></script>
{% endblock %}